/*--CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--Start Main Styling --*/

body{
    background: #f7f7f7;
    color:#111111;
    font-family:"neulis-neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}
header{
    margin:auto;
    padding: 1rem;
    margin-top: 5rem;
}
section{
    max-width:1200px;
    margin: auto;
}
p{
    padding: 0.5rem 0;
    line-height: 1.3;
}

h1,h2 {
    color:#111111;  
}

h1{
    font-size: 4.209rem;
}

h2{
    font-size: 3.157rem;
}
h3{
    font-size: 2.369rem;
}

h4{
    font-size: 1.777rem;
}

/*--Styling Links--*/

a{
    color: #111111;
    text-decoration: none;
}

a:hover{
    color: teal;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dotted;

}

/*-- Navigation--*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:#f7f7f7;
    opacity: 85%;
    padding: 1.5rem 0;
    font-size: 1rem;
    max-height:100px;
}
#logo{
    display:inline;
    max-width: 100px;
    max-height: 100px;
}


nav ul{
    float:right;
    text-align: right;
    letter-spacing: 1px;
}
nav ul li {
    display: inline;
    margin: 20px;
    background: none;
    vertical-align: middle;
}

nav a {
    color: #111111;
}

nav a:hover {
    border-bottom: none;
    color: teal;
    transition: all 0.3s ease-in-out;
}

/*--Style the CSS Grid--*/
.grid-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    margin: auto;
    padding: 4rem 0;
}
.grid-item{
    

}

#projecttitle{
    max-width:1200px;
    margin:auto;
    padding: 4rem 2rem;
   
}
    /*-- Image Styling--*/
 img{
        display: block;
        width:80%;
        max-width: 1200px;
        padding:0;
    }

/*--Styling the Footer--*/
footer { 
    background:#f7f7f7; 
    text-align: center; 
    font-size: 1rem; 
    color: #111111; 
    padding: 4em 0 3em 0 
    } 
    
    footer p { 
    margin: auto;
    max-width:80% 
    } 
    
    .footergrid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
   
    
