/*--CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--Start Main Styling --*/

body{
    background: #f7f7f7;
    color:#333333;
    font-family:"neulis-neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}
header{
    width:90%;
    margin:auto;
    padding: 1rem;
    margin-top: 5rem;
}
section{
    width:80%;
    max-width:1200px;
    margin: auto;
}
p{
    padding: 0.5rem 0;
    line-height: 1.3;
}

h1,h2 {
    color:black;  
}

h1{
    font-size: 5.653rem;
}

h2{
    font-size: 1.999rem;
}



/*--Styling Links--*/

a{
    color: #111111;
    text-decoration: none;
}

a:hover{
    color:white;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dotted;

}

/*-- Navigation--*/

nav{
    position: fixed;
    float:right;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:white;
    opacity: 85%;
    padding: 1.5rem 0;
    font-size: 1rem;
}

nav ul{
    text-align: right;
    letter-spacing: 1px;
}
nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {
    color: #111111;
}

nav a:hover {
    border-bottom: none;
    color: white;
    transition: all 0.3s ease-in-out;
}
/*--Style the CSS Grid--*/
.grid-container{
    display: grid;
    grid-template-columns: auto,auto,auto,auto;
    grid-template-rows: auto;
    gap: 1rem;
}
.grid-item{
    width:80%;

}


    /*-- Image Styling--*/
    /*-- img{
        display: block;
        margin-bottom:2rem;
        width:100%;
        padding:0;
    }
--/*
/*--Styling the Footer--*/
footer { 
    background:black; 
    text-align: center; 
    font-size: 0.75rem; 
    color: #f7f7f7; 
    padding: 4em 0 3em 0 
    } 
    
    footer p { 
    margin: auto;
    max-width:80% 
    } 
    
   
    
